$primary-color: $color-tango;
$base-bg: $color-san-juan;

@import "vue-sidebar-menu/src/scss/vue-sidebar-menu.scss";

.sidebar-header {
  display: flex;
  align-items: center;
  height: $app-header-height;
  font-weight: $font-bold;
  color: $color-primary;
  background-color: $color-white;
}


.sidebar-profile-container {
  padding: 0.5rem 0;
  margin-top: 0.75rem;
  font-size: $font-size-xs;
}

.sidebar-profile-button {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: $color-white;
  text-align: left;
  text-transform: none;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;

  &:hover {
    color: $color-white;
  }

  > div {
    margin-left: 0.5rem;
  }
}

.sidebar-profile-name {
  font-weight: $font-bold;
  text-transform: uppercase;
}


.sidebar-toggle-icon {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  white-space: nowrap;

  svg {
    width: 1.25rem;
    height: 1.25rem;
    color: $color-gray-300;
  }

  span {
    margin-left: 0.5rem;
  }
}
