:root {
    --color-primary: #314B6F;
    --color-primary-50: #f5f6f8
    --color-primary-100: #eaedf1;
    --color-primary-200: #314B6F;
    --color-primary-300: #314B6F;
    --color-primary-400: #314B6F;
    --color-primary-500: #314B6F;
    --color-primary-600: #314B6F;
    --color-primary-700: #314B6F;
    --color-primary-800: #314B6F;
    --color-primary-900: #314B6F;
}
