.v-sidebar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  transition: 0.3s max-width ease;
}

.v-sidebar-menu * {
  box-sizing: border-box;
}

.v-sidebar-menu .vsm--scroll-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.v-sidebar-menu .vsm--dropdown > .vsm--list {
  padding: 5px;
}

.v-sidebar-menu .vsm--item {
  position: relative;
  display: block;
  width: 100%;
  white-space: nowrap;
}

.v-sidebar-menu .vsm--link {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: 0.3s all ease;
}

.v-sidebar-menu .vsm--link_exact-active,
.v-sidebar-menu .vsm--link_active {
  font-weight: 600;
}

.v-sidebar-menu .vsm--link_disabled {
  pointer-events: none;
  opacity: 0.4;
}

.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
  /* line-height: 30px; */

  /* height: 30px; */

  /* width: 30px; */
  flex-shrink: 0;
  height: auto;
  text-align: center;
  border-radius: 3px;
}

.v-sidebar-menu .vsm--icon {
  display: inline-block;
  margin-right: 10px;
}

.v-sidebar-menu .vsm--title {
  flex-grow: 1;
}

.v-sidebar-menu .vsm--arrow {
  width: 30px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
}

.v-sidebar-menu .vsm--arrow::after {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
}

.v-sidebar-menu .vsm--arrow_open {
  transform: rotate(90deg);
}

.v-sidebar-menu .vsm--arrow_slot::after {
  display: none;
}

.v-sidebar-menu .vsm--header {
  /* @apply hidden; */
  display: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}

.v-sidebar-menu .vsm--badge_default {
  height: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 3px;
}

.v-sidebar-menu .vsm--toggle-btn {
  /* @apply block text-center font-normal cursor-pointer border-0 w-full; */
  display: block;
  width: 100%;
  height: 50px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border-width: 0;
}

.v-sidebar-menu .vsm--toggle-btn::after {
  font-family: "Font Awesome 5 Free";
  content: "\f337";
}

.v-sidebar-menu .vsm--toggle-btn_slot::after {
  display: none;
}

.v-sidebar-menu.vsm_collapsed .vsm--link_level-1.vsm--link_hover,
.v-sidebar-menu.vsm_collapsed .vsm--link_level-1:hover {
  background-color: transparent !important;
}

.v-sidebar-menu.vsm_rtl {
  right: 0;
  left: inherit;
  text-align: right;
  direction: rtl;
}

.v-sidebar-menu.vsm_rtl .vsm--icon {
  margin-right: 0;
  margin-left: 12px;
  border: 1px solid red;
}

.v-sidebar-menu.vsm_relative {
  position: relative;
  height: 100%;
}

.v-sidebar-menu .expand-enter-active,
.v-sidebar-menu .expand-leave-active {
  overflow: hidden;
  transition: height 0.3s ease;
}

.v-sidebar-menu .expand-enter,
.v-sidebar-menu .expand-leave-to {
  height: 0 !important;
}

.v-sidebar-menu .slide-animation-enter-active {
  transition: width 0.3s ease;
}

.v-sidebar-menu .slide-animation-leave-active {
  transition: width 0.3s ease;
}

.v-sidebar-menu .slide-animation-enter,
.v-sidebar-menu .slide-animation-leave-to {
  width: 0 !important;
}

.v-sidebar-menu .fade-animation-enter-active {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.v-sidebar-menu .fade-animation-leave-active {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.v-sidebar-menu .fade-animation-enter,
.v-sidebar-menu .fade-animation-leave-to {
  visibility: hidden !important;
  opacity: 0 !important;
}

.v-sidebar-menu .vsm--mobile-item > .vsm--item {
  padding: 0 !important;
  margin: 0 !important;
}

.v-sidebar-menu .vsm--mobile-item > .vsm--item > .vsm--link {
  margin: 0 !important;
  line-height: 30px !important;
  background-color: transparent !important;
}

.v-sidebar-menu {
  /* @apply bg-primary-500; */
  background-color: #314b6f;
}

.v-sidebar-menu .vsm--link {
  color: #fff;
}

.v-sidebar-menu .vsm--link_level-1.vsm--link_exact-active,
.v-sidebar-menu .vsm--link_level-1.vsm--link_active {
  box-shadow: 3px 0 0 0 #4285f4 inset;
}

.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
  /* @apply bg-primary-500; */
  background-color: #314b6f;
}

.v-sidebar-menu .vsm--link_hover,
.v-sidebar-menu .vsm--link:hover {
  color: #ee7d1e;

  /* background-color: rgba(30, 30, 33, 0.5); */

  /* background-color: red; */
  background-color: #eaedf1;
}

.v-sidebar-menu .vsm--link_mobile-item {
  color: #fff;
}

.v-sidebar-menu .vsm--link_mobile-item.vsm--link_hover,
.v-sidebar-menu .vsm--link_mobile-item:hover {
  color: #fff;
}

.v-sidebar-menu.vsm_collapsed .vsm--link_level-1.vsm--link_hover .vsm--icon,
.v-sidebar-menu.vsm_collapsed .vsm--link_level-1:hover .vsm--icon {
  color: #fff;

  /* @apply bg-primary-600; */

  /* background-color: #2c4464; */
  background-color: #fff;
}

.v-sidebar-menu .vsm--dropdown .vsm--list {
  /* @apply bg-primary-700; */
  background-color: #253853;
}

.v-sidebar-menu .vsm--mobile-bg {
  /* @apply bg-primary-600; */
  background-color: #2c4464;
}

.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 {
  color: #fff;

  /* @apply bg-primary-600; */
  background-color: #2c4464;
}

.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 .vsm--icon {
  /* @apply bg-primary-600; */
  background-color: #2c4464;
}

.v-sidebar-menu.vsm_rtl .vsm--link_level-1.vsm--link_active,
.v-sidebar-menu.vsm_rtl .vsm--link_level-1.vsm--link_exact-active {
  box-shadow: -3px 0 0 0 #4285f4 inset;
}

.v-sidebar-menu .vsm--header {
  color: rgba(255, 255, 255, 0.7);
}

.v-sidebar-menu .vsm--badge_default {
  color: #fff;
  background-color: #1e1e21;
}

.v-sidebar-menu .vsm--toggle-btn {
  color: #fff;

  /* @apply bg-primary-500; */
  background-color: #314b6f;
}

.v-sidebar-menu.vsm_white-theme {
  background-color: #fff;
}

.v-sidebar-menu.vsm_white-theme .vsm--link {
  color: #262626;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_exact-active,
.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_active {
  box-shadow: 3px 0 0 0 #4285f4 inset;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_exact-active .vsm--icon,
.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_active .vsm--icon {
  color: #fff;
  background-color: #262626;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_level-1 .vsm--icon {
  background-color: #bbc5d6;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_hover,
.v-sidebar-menu.vsm_white-theme .vsm--link:hover {
  background-color: rgba(242, 242, 242, 0.5);
}

.v-sidebar-menu.vsm_white-theme .vsm--link_mobile-item {
  color: #fff;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_mobile-item.vsm--link_hover,
.v-sidebar-menu.vsm_white-theme .vsm--link_mobile-item:hover {
  color: #fff;
}

.v-sidebar-menu.vsm_white-theme.vsm_collapsed .vsm--link_level-1.vsm--link_hover .vsm--icon,
.v-sidebar-menu.vsm_white-theme.vsm_collapsed .vsm--link_level-1:hover .vsm--icon {
  color: #fff;

  /* @apply bg-primary-600; */
  background-color: #2c4464;
}

.v-sidebar-menu.vsm_white-theme .vsm--dropdown .vsm--list {
  background-color: #e3e3e3;
}

.v-sidebar-menu.vsm_white-theme .vsm--mobile-bg {
  /* @apply bg-primary-600; */
  background-color: #2c4464;
}

.v-sidebar-menu.vsm_white-theme.vsm_expanded .vsm--item_open .vsm--link_level-1 {
  color: #fff;

  /* @apply bg-primary-600; */
  background-color: #2c4464;
}

.v-sidebar-menu.vsm_white-theme.vsm_expanded .vsm--item_open .vsm--link_level-1 .vsm--icon {
  /* @apply bg-primary-600; */
  background-color: #2c4464;
}

.v-sidebar-menu.vsm_white-theme.vsm_rtl .vsm--link_level-1.vsm--link_active,
.v-sidebar-menu.vsm_white-theme.vsm_rtl .vsm--link_level-1.vsm--link_exact-active {
  box-shadow: -3px 0 0 0 #4285f4 inset;
}

.v-sidebar-menu.vsm_white-theme .vsm--header {
  color: rgba(38, 38, 38, 0.7);
}

.v-sidebar-menu.vsm_white-theme .vsm--badge_default {
  color: #262626;
  background-color: #f2f2f2;
}

.v-sidebar-menu.vsm_white-theme .vsm--toggle-btn {
  color: #262626;
  background-color: #f2f2f2;
}

.v-sidebar-menu .vsm--link_hover,
.v-sidebar-menu .vsm--link:hover .vsm--icon {
  color: #ee7d1e;
  background-color: transparent;
}
