$app-header-height: 4rem; // 64px
$app-sidebar-width: 16.5rem; // 264px
$app-sidebar-width-collapsed: 3rem; // 48px

$color-brand: #002894;
$color-brand-50: #f2f4fa;
$color-brand-100: #e6eaf4;
$color-brand-200: #bfc9e4;
$color-brand-300: #99a9d4;
$color-brand-400: #4d69b4;
$color-brand-500: #002894;
$color-brand-600: #002485;
$color-brand-700: #001e6f;
$color-brand-800: #001859;
$color-brand-900: #001449;

$color-san-juan: #314b6f;
$color-san-juan-50: #f5f6f8;
$color-san-juan-100: #eaedf1;
$color-san-juan-200: #ccd2db;
$color-san-juan-300: #adb7c5;
$color-san-juan-400: #6f819a;
$color-san-juan-500: #314b6f;
$color-san-juan-600: #2c4464;
$color-san-juan-700: #253853;
$color-san-juan-800: #1d2d43;
$color-san-juan-900: #182536;

$color-tango: #ee7d1e;
$color-tango-50: #fef9f4;
$color-tango-100: #fdf2e9;
$color-tango-200: #fbdfc7;
$color-tango-300: #f8cba5;
$color-tango-400: #f3a462;
$color-tango-500: #ee7d1e;
$color-tango-600: #d6711b;
$color-tango-700: #b35e17;
$color-tango-800: #8f4b12;
$color-tango-900: #753d0f;

$color-gray: #6b7280;
$color-gray-50: #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #374151;
$color-gray-800: #1f2937;
$color-gray-900: #111827;

$color-primary:     $color-brand;
$color-primary-50:  $color-brand-50;
$color-primary-100: $color-brand-100;
$color-primary-200: $color-brand-200;
$color-primary-300: $color-brand-300;
$color-primary-400: $color-brand-400;
$color-primary-500: $color-brand-500;
$color-primary-600: $color-brand-600;
$color-primary-700: $color-brand-700;
$color-primary-800: $color-brand-800;
$color-primary-900: $color-brand-900;

$color-secondary:     $color-tango;
$color-secondary-50:  $color-tango-50;
$color-secondary-100: $color-tango-100;
$color-secondary-200: $color-tango-200;
$color-secondary-300: $color-tango-300;
$color-secondary-400: $color-tango-400;
$color-secondary-500: $color-tango-500;
$color-secondary-600: $color-tango-600;
$color-secondary-700: $color-tango-700;
$color-secondary-800: $color-tango-800;
$color-secondary-900: $color-tango-900;

$color-white: #fff;
$color-black: #000;
$color-red-400: #f43f5e;
$color-red-500: #fb7185;
$color-green-500: #10b981;

$color-blue: $color-san-juan;
$color-blue-100: #eaedf1;
$color-blue-600: blue;
$color-blue-700: #253853;

$color-orange: $color-tango;

// Font Size
$font-size-2xl: 0.625rem; // 10px
$font-size-xs: 0.75rem;   // 12px
$font-size-sm: 0.875rem;  // 14px
$font-size-base: 1rem;    // 16px
$font-size-lg: 1.125rem;  // 18px
$font-size-xl: 1.5rem;    //

// Font Weight
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

$primary-color: $color-tango;
$base-bg: $color-san-juan;

$item-color: #fff;

$item-active-color: null;
$item-active-bg: null;

$item-open-color: #fff;
$item-open-bg: $primary-color;

$item-hover-color: null;
$item-hover-bg: rgba(darken($base-bg, 5%), 0.5);

$icon-color: null;
$icon-bg: darken($base-bg, 5%);

$icon-active-color: null;
$icon-active-bg: null;

$icon-open-color: #fff;
$icon-open-bg: $item-open-bg;

$mobile-item-color: #fff;
$mobile-item-bg: $primary-color;
$mobile-icon-color: $mobile-item-color;
$mobile-icon-bg: $mobile-item-bg;

$dropdown-bg: lighten($base-bg, 5%);
$dropdown-color: $color-gray-300;

