@import "./variables";
@import "./components/sidebar-menu.scss";

.app-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-left: $app-sidebar-width;
}

.app-layout.collapsed {
  padding-left: $app-sidebar-width-collapsed;
}

.app-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: $app-header-height;
  padding-right: 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid $color-gray-50;

  & .title {
    margin-bottom: 0;
    font-size: $font-size-lg;
    line-height: 1;
  }
}

.app-header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.app-main {
  flex: 1 1 0%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.app-footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.app-button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  text-transform: none;
  cursor: pointer;
  border-color: transparent;
  border-width: 1px;
  border-radius: 9999px;

}
