.sidebarHeader {
  display: flex;
  align-items: center;
  height: $app-header-height;
  font-weight: $font-bold;
  color: $color-primary;
  background-color: $color-white;
}


.sidebarProfileContainer {
  padding: 0.5rem 0;
  margin-top: 0.75rem;
  font-size: $font-size-xs;
}

.sidebarProfileButton {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: $color-white;
  text-align: left;
  text-transform: none;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;

  &:hover {
    color: $color-white;
  }

  > div {
    margin-left: 0.5rem;
  }
}

.sidebarProfileName {
  font-weight: $font-bold;
  text-transform: uppercase;
}


.sidebarToggleIcon {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  white-space: nowrap;

  svg {
    width: 1.25rem;
    height: 1.25rem;
    color: $color-gray-300;
  }

  span {
    margin-left: 0.5rem;
  }
}

.v-sidebar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  transition: 0.3s max-width ease;
}

.v-sidebar-menu * {
  box-sizing: border-box;
}

.v-sidebar-menu .vsm--scroll-wrapper {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.v-sidebar-menu .vsm--dropdown > .vsm--list {
  padding: 5px;
}

.v-sidebar-menu .vsm--item {
  position: relative;
  display: block;
  width: 100%;
  white-space: nowrap;
}

.v-sidebar-menu .vsm--link {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-size: $font-size-base;
  font-weight: $font-normal;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: 0.3s all ease;
}

.v-sidebar-menu .vsm--link_exact-active,
.v-sidebar-menu .vsm--link_active {
  font-weight: $font-semibold;
}

.v-sidebar-menu .vsm--link_disabled {
  pointer-events: none;
  opacity: 0.4;
}

.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
  /* height: 30px; */

  /* line-height: 30px; */

  /* width: 30px; */
  flex-shrink: 0;
  height: auto;
  text-align: center;
  border-radius: 3px;
}

.v-sidebar-menu .vsm--icon {
  display: inline-block;
  margin-right: 10px;
}

.v-sidebar-menu .vsm--title {
  flex-grow: 1;
}

.v-sidebar-menu .vsm--arrow {
  width: 30px;
  font-style: normal;
  font-weight: $font-black;
  text-align: center;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
}

.v-sidebar-menu .vsm--arrow::after {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
}

.v-sidebar-menu .vsm--arrow_open {
  transform: rotate(90deg);
}

.v-sidebar-menu .vsm--arrow_slot::after {
  display: none;
}

.v-sidebar-menu .vsm--header {
  display: none;
  padding: 10px;
  font-size: $font-size-sm;
  font-weight: $font-semibold;
  text-transform: uppercase;
  white-space: nowrap;
}

.v-sidebar-menu .vsm--badge_default {
  height: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: $font-semibold;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 3px;
}

.v-sidebar-menu .vsm--toggle-btn {
  display: block;
  width: 100%;
  height: 50px;
  font-weight: $font-normal;
  text-align: center;
  cursor: pointer;
  border-width: 0;
}

.v-sidebar-menu .vsm--toggle-btn::after {
  font-family: "Font Awesome 5 Free";
  content: "\f337";
}

.v-sidebar-menu .vsm--toggle-btn_slot::after {
  display: none;
}

.v-sidebar-menu.vsm_collapsed .vsm--link_level-1.vsm--link_hover,
.v-sidebar-menu.vsm_collapsed .vsm--link_level-1:hover {
  background-color: transparent !important;
}

.v-sidebar-menu.vsm_rtl {
  right: 0;
  left: inherit;
  text-align: right;
  direction: rtl;
}

.v-sidebar-menu.vsm_rtl .vsm--icon {
  margin-right: 0;
  margin-left: 12px;
}

.v-sidebar-menu.vsm_relative {
  position: relative;
  height: 100%;
}

.v-sidebar-menu .expand-enter-active,
.v-sidebar-menu .expand-leave-active {
  overflow: hidden;
  transition: height 0.3s ease;
}

.v-sidebar-menu .expand-enter,
.v-sidebar-menu .expand-leave-to {
  height: 0 !important;
}

.v-sidebar-menu .slide-animation-enter-active {
  transition: width 0.3s ease;
}

.v-sidebar-menu .slide-animation-leave-active {
  transition: width 0.3s ease;
}

.v-sidebar-menu .slide-animation-enter,
.v-sidebar-menu .slide-animation-leave-to {
  width: 0 !important;
}

.v-sidebar-menu .fade-animation-enter-active {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.v-sidebar-menu .fade-animation-leave-active {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.v-sidebar-menu .fade-animation-enter,
.v-sidebar-menu .fade-animation-leave-to {
  visibility: hidden !important;
  opacity: 0 !important;
}

.v-sidebar-menu .vsm--mobile-item > .vsm--item {
  padding: 0 !important;
  margin: 0 !important;
}

.v-sidebar-menu .vsm--mobile-item > .vsm--item > .vsm--link {
  margin: 0 !important;
  line-height: 1.5 !important;
  background-color: transparent !important;
}

.v-sidebar-menu {
  background-color: $color-primary;
}

.v-sidebar-menu .vsm--link {
  color: $color-white;
}

.v-sidebar-menu .vsm--link_level-1.vsm--link_exact-active,
.v-sidebar-menu .vsm--link_level-1.vsm--link_active {
  box-shadow: 3px 0 0 0 #4285f4 inset;
}

.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
  background-color: transparent;
}

.v-sidebar-menu .vsm--link_hover,
.v-sidebar-menu .vsm--link:hover {
  color: $color-secondary;
  background-color: $color-primary-100;
}

.v-sidebar-menu .vsm--link_mobile-item {
  color: $color-white;
}

.v-sidebar-menu .vsm--link_mobile-item.vsm--link_hover,
.v-sidebar-menu .vsm--link_mobile-item:hover {
  color: $color-white;
}

.v-sidebar-menu.vsm_collapsed .vsm--link_level-1.vsm--link_hover .vsm--icon,
.v-sidebar-menu.vsm_collapsed .vsm--link_level-1:hover .vsm--icon {
  color: $color-secondary;
}

.v-sidebar-menu .vsm--dropdown .vsm--list {
  background-color: $color-primary-700;
}

.v-sidebar-menu .vsm--mobile-bg {
  background-color: $color-primary-600;
}

.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 {
  color: $color-white;
  background-color: $color-primary-600;
}

.v-sidebar-menu.vsm_expanded .vsm--item_open .vsm--link_level-1 .vsm--icon {
  background-color: $color-primary-600;
}

.v-sidebar-menu.vsm_rtl .vsm--link_level-1.vsm--link_active,
.v-sidebar-menu.vsm_rtl .vsm--link_level-1.vsm--link_exact-active {
  box-shadow: -3px 0 0 0 #4285f4 inset;
}

.v-sidebar-menu .vsm--header {
  color: rgba(255, 255, 255, 0.7);
}

.v-sidebar-menu .vsm--badge_default {
  color: $color-white;
  background-color: #1e1e21;
}

.v-sidebar-menu .vsm--toggle-btn {
  color: $color-white;
  background-color: $color-primary-500;
}

.v-sidebar-menu.vsm_white-theme {
  background-color: $color-white;
}

.v-sidebar-menu.vsm_white-theme .vsm--link {
  color: #262626;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_exact-active,
.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_active {
  box-shadow: 3px 0 0 0 #4285f4 inset;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_exact-active .vsm--icon,
.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_active .vsm--icon {
  color: $color-white;
  background-color: #262626;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_level-1 .vsm--icon {
  background-color: transparent;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_hover,
.v-sidebar-menu.vsm_white-theme .vsm--link:hover {
  background-color: rgba(242, 242, 242, 0.5);
}

.v-sidebar-menu.vsm_white-theme .vsm--link_mobile-item {
  color: $color-white;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_mobile-item.vsm--link_hover,
.v-sidebar-menu.vsm_white-theme .vsm--link_mobile-item:hover {
  color: $color-white;
}

.v-sidebar-menu.vsm_white-theme.vsm_collapsed .vsm--link_level-1.vsm--link_hover .vsm--icon,
.v-sidebar-menu.vsm_white-theme.vsm_collapsed .vsm--link_level-1:hover .vsm--icon {
  color: $color-white;
  background-color: $color-primary-600;
}

.v-sidebar-menu.vsm_white-theme .vsm--dropdown .vsm--list {
  background-color: #e3e3e3;
}

.v-sidebar-menu.vsm_white-theme .vsm--mobile-bg {
  background-color: $color-primary-600;
}

.v-sidebar-menu.vsm_white-theme.vsm_expanded .vsm--item_open .vsm--link_level-1 {
  color: $color-white;
  background-color: $color-primary-600;
}

.v-sidebar-menu.vsm_white-theme.vsm_expanded .vsm--item_open .vsm--link_level-1 .vsm--icon {
  background-color: $color-primary-600;
}

.v-sidebar-menu.vsm_white-theme.vsm_rtl .vsm--link_level-1.vsm--link_active,
.v-sidebar-menu.vsm_white-theme.vsm_rtl .vsm--link_level-1.vsm--link_exact-active {
  box-shadow: -3px 0 0 0 #4285f4 inset;
}

.v-sidebar-menu.vsm_white-theme .vsm--header {
  color: rgba(38, 38, 38, 0.7);
}

.v-sidebar-menu.vsm_white-theme .vsm--badge_default {
  color: #262626;
  background-color: #f2f2f2;
}

.v-sidebar-menu.vsm_white-theme .vsm--toggle-btn {
  color: #262626;
  background-color: #f2f2f2;
}

.v-sidebar-menu .vsm--link_hover,
.v-sidebar-menu .vsm--link:hover .vsm--icon {
  color: $color-secondary;
  background-color: transparent;
}
